<<<<<<< HEAD
body{
    background: blue;
    font-size : 5em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0%;

}
=======
>>>>>>> parent of 3deda63 (modification of html and css file)
